# Arduino Build Artifacts
build/
bin/
*.elf
*.hex
*.o
*.d

# OS files
.DS_Store
Thumbs.db

# IDE settings (VS Code / Arduino IDE)
.vscode/
.arduino/

# Arduino Secret Configurations
my_secrets.zip
arduino_secrets.h

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
.gradle/
